# General
.DS_Store
.env
.env.*
.vscode/
.idea/
*.log
db/
uploads/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.poetry/
.pytest_cache/

# Node
node_modules/
dist/
*.tsbuildinfo

# FastAPI
backend/.mypy_cache/
backend/.ruff_cache/
backend/.pytest_cache/
backend/.coverage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/vite.config.js
frontend/vite.config.d.ts

# Docker
docker-compose.yml
